body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #e0f7fa; 
  color: #2e7d32; 
  text-align: center; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header, footer, main, nav, .search-bar, .destinacions, article {
  animation: fadeIn 1s ease-in-out; 
}

header {
  background-color: #ffffff; 
  color: #2e7d32; 
  padding: 10px 10px;
  text-align: center;
  position: relative;
  border-bottom: 2px solid #66bb6a; 
}

.logo img {
  width: 200px;
  height: auto;
  margin: 0;
}

body header div.logo:hover {
  transform: scale(1.1);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 2px 0;
  padding: 3px;
}

nav ul li a {
  color: #2e7d32; 
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, transform 0.3s; 
}

a:hover {
  color: #388e3c;
  transform: scale(1.1); 
}

.search-bar {
  margin: 20px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden; 
}

.search-bar input {
  padding: 10px;
  border: 2px solid #66bb6a; 
  border-right: none; 
  border-radius: 5px 0 0 5px;
  width: 60%;
  transition: background-color 0.3s; 
}

.search-bar input:focus {
  background-color: #dcedc8; 
  outline: none; 
}

.search-bar button {
  padding: 10px;
  border: 2px solid #66bb6a; 
  border-left: none; 
  background-color: #66bb6a; 
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.search-bar button:hover {
  background-color: #388e3c;
  transform: scale(1.1); 
}

main {
  padding: 10px 5px;
}

.destinacions h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #2e7d32;
}

article {
  justify-content: center;
  display: block;
  width: 80%;
  height: 200px;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(99, 90, 90, 0.1);
}

article div {
  display: block;
  margin: 15px 0;
}

article:hover {
  transform: translateY(-10px);
}

article img {
  padding: 10px;
  width: 80px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto 10px;
}

div.text {
  text-align: center;
  margin: 0 auto;
}

article h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: #2e7d32;
}

article p {
  color: #388e3c;
}

div.text h3, div.text {
  margin-bottom: 0;
}

footer {
  background-color: #66bb6a; 
  color: #ffffff;
  text-align: center;
  padding: 20px 10px;
}

.footer-links {
  margin-bottom: 5px;
}

.footer-links a {
  color: #d4e157;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s;
  padding: 3px;
}

.footer-links a:hover {
  color: #ffffff;
}

main section article div.foto {
  transform: scale(1.5);
}
