/* css comú que s'empraria a la resta de pàgines */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
footer {
  background-color: #66bb6a; 
  color: #ffffff;
  text-align: center;
  padding: 20px 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #e0f7fa; 
  color: #2e7d32; 
  text-align: center; 
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
body header div.logo:hover {
  transform: scale(1.1);
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 2px 0;
  padding: 3px;
}
nav ul li a {
  color: #2e7d32; 
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, transform 0.3s; 
}
.search-bar {
  margin: 20px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden; 
}
.search-bar input {
  padding: 10px;
  border: 2px solid #66bb6a; 
  border-right: none; 
  border-radius: 5px 0 0 5px;
  width: 60%;
  transition: background-color 0.3s; 
}
.search-bar input:focus {
  background-color: #dcedc8; 
  outline: none; 
}
.search-bar button {
  padding: 10px;
  border: 2px solid #66bb6a; 
  border-left: none; 
  background-color: #66bb6a; 
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.search-bar button:hover {
  background-color: #388e3c;
  transform: scale(1.1); 
}
footer {
  background-color: #66bb6a; 
  color: #ffffff;
  text-align: center;
  padding: 20px 10px;
}
.footer-links {
  margin-bottom: 5px;
}

.footer-links a {
  color: #d4e157;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s;
  padding: 3px;
}
.footer-links a:hover {
  color: #ffffff;
}